.content-container {
  padding-top: 30px;

  /* All elements Scroll Bar */
  ::-webkit-scrollbar {
    width: 14px;
    height: 20px;
  }
  ::-webkit-scrollbar-track {
    background: #404040;
    border-radius: 10px;
    border: 1px solid #404040;
  }
  ::-webkit-scrollbar-thumb {
    background: #6b6b6b;
    border-radius: 10px;
    border: 2px solid #404040;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #868686;
  }
}

.screens-group-row-iphone {
  overflow-x: scroll;
  // width: calc(900px * 2.4);
  // width: calc(900px * 2.4);
  // height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-bottom: 5px;
  // transform: translateX(((900px * 2.4) * (0.4 - 1))/2) translateY((1553px * (0.4 - 1))/2) scale(0.4);

  transform: var(--screens-group-row-iphone-scale-desktop);
  margin: var(--screens-group-row-iphone-margin-desktop);
}

.flexdirection-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.small-big-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  justify-content: center;

  button {
    padding: 0.5em 0.8em;
    background-color: #e47a20;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

@media screen and (max-width: 501px) {
  .screens-group-row-iphone {
    margin: var(--screens-group-row-iphone-margin-mobile);
  }
}
