.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;

  &:hover {
    filter: brightness(90%);
  }

  .title {
    padding: 0px 16px;
  }

  .subtitle {
    padding: 6px 10px;
    height: calc(100% - 12px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000040;

    p {
      font-weight: bold;
    }
  }

  .icon {
    padding: 10px 6px;
    background-color: #00000060;
    display: flex;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
  }
}
