.screen-meusdependentes-container {
  width: var(--screen-print-width);
  height: var(--screen-print-height);

  background-color: #ffffff;

  /* border: 1px solid black */
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  padding-bottom: 4px;

  overflow: hidden;

  .screen-container {
    .list-container {
      margin: 2em 2.5em;
    }
    .qrcode-icon {
      width: 4.4em;
      height: 4.4em;
      max-width: 4.4em;
      max-height: 4.4em;
      min-width: 4.4em;
      min-height: 4.4em;

      img,
      svg {
        background-color: var(--color-secondary);
      }
    }
  }
}
