.screen-login-container {
  // width: 1125px;
  // height: 2436px;
  width: var(--screen-print-width);
  height: var(--screen-print-height);
  // width: 167px;
  // height: 361px;

  // zoom: 0.1;
  // transform: scale(0.3);

  // resize: both;
  // overflow: scroll;
  // /* border: 1px solid black */;

  background-color: #ffffff;

  /* border: 1px solid black */
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  padding-bottom: 4px;

  .screen-container {
    width: 100%;
    z-index: 10;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 75%;
      margin: 18% auto;

      img {
        width: 100%;
        max-height: 300px;
        object-fit: contain;
        // background-color: #d9d9d9;
      }
    }
    .center-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      width: 80%;
      margin: 0 auto;

      .box-login {
        padding: 3em;
        border-radius: 0.7rem;
        width: 100%;
        box-sizing: border-box;
        // background-color: var(--color-primary);

        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        .input-box{
          display: flex;
          align-items: center;
          margin-bottom: 0px;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: .2em 0;
          border: 3px solid  #d3d3d3;
          border-radius: 15px;
          background-color: rgba(255, 255, 255, 0.65);

          label {
            font-size: 1.6em;
            color: #000000;
            height: 50px;
            width: 180px;
            text-align: center;
            border-right: 2px solid #d3d3d3;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        label {
          font-size: 1.9em;
          color: #000000;
        }

        input {
          width: 100%;
          height: 6em;
          border: none;
          background-color: #ffffff00;
          // opacity: 0.5;
        }

        .fake-checkbox-field {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1.7em;
          margin-bottom: 2em;

          .fake-checkbox {
            width: 2.4em;
            height: 2.4em;
            border-radius: 0.7rem;
            border: 2px solid var(--color-secondary);
          }
        }

        button {
          width: 100%;
          height: 3em;
          border-radius: 0.5em;
          font-size: 2em;
          background-color: var(--color-secondary);
          box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 40%);
          color: #ffffff;
        }
      }

      .forgot-password {
        background-color: #f0f0f0;
        padding: 2em 1.5em;
        opacity: 0.6;
        border-radius: 0.7em;
        margin-top: 1em;
        width:  100%;
        box-sizing: border-box;
        // box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 40%);
        p {
          color: #000000;
          font-size: 1.8rem;
          text-align: center;
        }
      }
    }
  }
  .credits-quality {
    padding-bottom: 3%;
    padding-top: 5%;
    text-align: center;
    z-index: 10;
    width: 100%;

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

    p {
      color: #030303;
      font-size: 1.4em;
      border-radius: 50px;
      padding: 0.8em 1.5em;
      // background-color: var(--color-secondary);
      opacity: 0.9;
      // box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 40%);
    }
  }
}
