.header-container {
  background-color: #f9f9f9;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.13);
  padding: 20px 0px;
  z-index: 10;

  .header-content {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: row;
    // gap: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .logo {
        background-color: #bd0000;
        padding: 10px 16px;

        p {
          color: #ffffff;
          font-weight: bold;
          font-size: 20px;
        }
      }

      .git-icon-container {
        background-color: #ededed;
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          filter: brightness(90%);
        }
      }

      .applaunchpad-icon-container {
        background: rgb(255, 94, 99);
        background: linear-gradient(
          139deg,
          rgba(255, 94, 99, 1) 0%,
          rgba(246, 138, 141, 1) 100%
        );
        padding: 7px 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.4em;

        &:hover {
          filter: brightness(90%);
        }

        p {
          font-weight: bold;
          font-size: 1.4em;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }

    .btnSection {
      display: flex;
      gap: 10px;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    .header-content {
      gap: 20px;
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 501px) {
  .header-container {
    .header-content {
      .btnSection {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
