:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(58, 58, 58, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #FFFFFE;
  --color-secondary: #ed3237;

  --fundo-app-opacity: 70%;
  --fundo-app-blur: 5px;
  --box-login-opacity: 60%;

  --screen-print-width: 720px;
  --screen-print-height: 1553px;

  --screen-ipad-print-width: 1100px;
  --screen-ipad-print-height: 1471px;
  
  --screen-ipad-scale-full: scale(0.9);

  --home-container-content-width-desktop: calc(90vw - 320px);
  --home-container-content-width-mobile: 90vw;

  --screens-group-row-iphone-scale-desktop: scale(0.3);
  --screens-group-row-ipad-scale-desktop: scale(0.3);

  --screens-group-row-iphone-margin-desktop: calc(1553px * -0.37)
    calc(((90vw - 320px) * 3.15) * -0.37);
  --screens-group-row-iphone-margin-mobile: calc(1553px * -0.37)
    calc(((90vw - 0px) * 3.15) * -0.37);

  --screens-group-row-ipad-margin-desktop: calc(1553px * -0.35)
    calc(((90vw - 320px) * 3.15) * -0.37);
  --screens-group-row-ipad-margin-mobile: calc(1553px * -0.35)
    calc(((90vw - 0px) * 3.15) * -0.37);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

h3 {
  margin-bottom: 1em;
}

.max-width-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0px 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #3665bd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #3665bd;
  cursor: pointer;
}

/* Swicth style */

.chkswitch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.chkswitch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.chkslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.chkslider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .chkslider {
  background-color: #3665bd;
}

input:focus + .chkslider {
  box-shadow: 0 0 1px #3665bd;
}

input:checked + .chkslider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.chkslider.chkround {
  border-radius: 24px;
}

.chkslider.chkround:before {
  border-radius: 50%;
}